@media $desktop
    .post__slack-productivity__email-vs-slack
        margin-bottom 5px

    .post__slack-productivity__bystanders
        relative left 100px

@media $mobile
    .post__slack-productivity__email-vs-slack, .post__slack-productivity__bystanders
        margin 0 !important
        max-width 98% !important

