@media screen and ( min-width: 641px )
    .post__book-selection
        &__thrownaway-caption,
        &__graph-caption
            relative left 250px
            text-align left !important
            margin-top 10px
            margin-bottom: 20px

@media screen and ( max-width: 640px )
    .post__book-selection
        &__thrownaway,
        &__graph
            margin-left 5px !important

        &__thrownaway-img,
        &__graph-img
            max-width 95% !important
