{% extends "layout.html" %}
{% block title %}
  <title>Обо мне — Фёдор Борщёв</title>
{% endblock %}
{% block description %}
  <meta
    name="description"
    content="Руковожу Школой Сильных Программистов, где мы делаем синьёров, тимлидов и архитекторов из ребят мидл-уровня. А ещё у меня есть бутиковый аутсорс, в котором внедрено больше инженерных практик, чем в средней продуктовой компании"
  />
{% endblock %}
{% block head %}
  <link rel="canonical" href="{{ origin }}/" />
{% endblock %}
{% block body %}
  <div class="container home-page">
    <header class="columns pt-6 m-auto">
      <div class="column is-three-fifths pt-0 pr-6">
        <div class="columns is-mobile">
          <figure class="column is-one-quarter image is-128x128 pt-2 is-hidden-tablet">
            <img class="is-rounded" src="/i/me-home-page.webp" alt="Фёдор Борщёв" />
          </figure>
          <div class="column">
            <h1 class="title is-size-1-desktop mb-0 home-page__title">Фёдор Борщёв</h1>
            <nav class="mb-6 is-hidden-mobile">
              <a href="/blog/" class="nav__link"><span class="nav__label">Блог</span></a>
              <a href="tg://resolve?domain=pmdaily" class="tg-link nav__link">
                <span class="nav__label">Телеграм</span></a
              >
              <a target="_blank" href="https://tough-dev.school/" class="nav__link">
                <span class="nav__label">Школа</span>
              </a>
              <a target="_blank" href="https://fansdev.ru/" class="nav__link">
                <span class="nav__label">Нанять меня</span>
              </a>
            </nav>
          </div>
        </div>
        <main class="home-page__lead">
          Руковожу <a class="home-page__link" href="http://tough-dev.school">Школой Сильных Программистов</a>, где
          мы&nbsp;делаем синьёров, тимлидов и&nbsp;архитекторов из&nbsp;ребят мидл-уровня. А&nbsp;ещё&nbsp;у&nbsp;меня
          есть <a class="home-page__link" href="https://fansdev.ru">бутиковый аутсорс</a>, в&nbsp;котором внедрено
          больше инженерных практик, чем в&nbsp;средней продуктовой компании.
        </main>
        <h2 class="title is-3 mt-6 mb-1">Сделал</h2>
        <ul class="mx-0 home-page__list">
          <li>
            <a href="https://zoya-ai.ru">Зою</a> — ИИ-асистента по вопросам здоровья, которого может позволить себе
            каждый.
          </li>
          <li>
            За три месяца перезапустил учебную платформу для&nbsp;«<a
              class="home-page__link"
              href="https://fansdev.ru/synchronize"
              >Синхронизации</a
            >»&nbsp;— команды, которая делает лучшие лекции про историю, культуру и науку на русском языке.
          </li>
          <li>
            Сайт и LMS «<a class="home-page__link" href="https://webium.ru" rel="noindex, nofollow">Вебиума</a>»,
            крупнейшей в рунете онлайн-школы для подготовки к ЕГЭ.
          </li>
          <li>
            Облачную платформу для управления
            <a class="home-page__link" href="/wiren-board/">микроконтроллерами</a> российской разработки.
          </li>
          <li>
            Выступил на
            <a class="home-page__link" href="/tags/talks/" class="home-page__link">десятке отраслевых конференций</a>.
          </li>
          <li>
            Выложил много <a class="home-page__link" href="/opensource-projects/" class="home-page__link">опенсорса</a>,
            включая <a class="home-page__link" href="/selfmailbot/">@selfmailbot</a>,
            <a class="home-page__link" href="https://github.com/tough-dev-school/">весь код Школы</a> и даже
            <a class="home-page__link" href="https://github.com/f213/website">этот сайт</a>.
          </li>
        </ul>
      </div>
      <div class="column is-hidden-mobile pt-5">
        <img src="/i/me.webp" width="600" />
      </div>
    </header>
    <section class="columns m-auto">
      <div class="column">
        <h2 class="title is-3 mb-1 mt-6">Написал</h2>
        <div class="fixed-grid has-1-cols-mobile">
          <div class="grid">
            {% for post in posts %}
              <div class="cell">
                <a class="home-page__link" href="/{{ post.slug }}/">{{ post.title }}</a>
              </div>
            {% endfor %}
            <div class="cell">
              <a class="home-page__link" href="/slack-productivity/">Как корпоративный чат убивает продуктивность</a>
            </div>
            <div class="cell"><a class="home-page__link" href="/bro-said/">Почему важно выполнять обещания</a></div>
            <div class="cell">
              <a class="home-page__link" href="/production-vs-consumption/">Производство и потребление</a>
            </div>
            <div class="cell"><a class="home-page__link" href="/time-and-money/">Время &gt; Деньги</a></div>
            <div class="cell">
              <a class="home-page__link" href="/small-changes/">Небольшие доработочки (перевод)</a>
            </div>
            <div class="cell"><a class="home-page__link" href="/hypothesis/">90% фич вылетает в трубу</a></div>
            <div class="cell">
              <a
                class="home-page__link"
                href="https://vc.ru/services/60710-github-dlya-nebolshoy-komandy"
                rel="noindex,nofollow"
              >
                <img class="image is-16x16 is-pulled-left mr-1 vcru-link" src="/i/vcru.png" />GitHub как единственное
                средство общения
              </a>
            </div>
            <div class="cell">
              <a class="home-page__link" href="/middle-way/">Программистам: три варианта развития мидла</a>
            </div>
            <div class="cell"><a class="home-page__link" href="/50-percent/">Тупое правило про 50 процентов</a></div>
            <div class="cell">
              <a class="home-page__link" href="/jumpstart/">Как выучить любой язык программирования</a>
            </div>
          </div>
        </div>
        <p class="mt-6 mb-1">
          Еще больше — в <a class="home-page__link" href="tg://resolve?domain=pmdaily">телеграме:</a>
        </p>
        <a href="tg://resolve?domain=pmdaily"><img src="/i/tg.webp" alt="Телеграм" width="800" /> </a>
      </div>
    </section>

    <footer class="footer px-3">
      <p>© <a class="footer__email" href="mailto:fedor@borshev.com">Фёдор Борщёв</a></p>
      <div id="poop" class="footer__poop is-size-4">
        <p class="is-unselectable">💩</p>
      </div>
      <script type="text/javascript">
        const poop = document.getElementById("poop");
        poop.addEventListener("click", () => {
          poop.classList.add("footer__poop--spinning");
          window.setTimeout(() => {
            poop.classList.remove("footer__poop--spinning");
          }, 1000);
        });
      </script>
    </footer>
  </div>
{% endblock %}
