{% extends "layout.html" %}
{% block body %}
  {%
    include
    "partial/blog_header.html"
  %}
  <section class="section default-section">
    <div class="container is-max-desktop">
      <article class="blog-post">
        <h1 class="title is-size-3 is-size-4-mobile mb-3 blog-post__title">{{ post.title }}</h1>
        <time datetime="{{ post.created_at }}" class="is-block mb-5 is-size-7 has-text-grey">{{ post.time_ago }}</time>
        <div class="content app-content">{{ post.html | safe }}</div>
        <div class="blog-tags">
          {% for tag in post.tags %}
            <a class="blog-tags__tag is-lowercase" href="/tags/{{ tag.slug }}/">{{ tag.name }}</a>
          {% endfor %}
        </div>
      </article>

      {% include "partial/subscribe_bar.html" %}
      {% include "partial/similar_posts.html" %}
    </div>
  </section>
  {% include "partial/footer.html" %}
{% endblock %}
