{% extends "layout.html" %}
{% block title %}
  <title>{{ post.meta_title if post.meta_title else post.title }}</title>
{% endblock %}
{% block description %}
  {% if post.meta_description %}
    <meta name="description" content="{{ post.meta_description }}" />
  {% endif %}
{% endblock %}
{% block head %}
  {% if not post.is_page %}
    {% include "partial/seo/opengraph.html" %}
    {% include "partial/seo/jsonld.html" %}
  {% endif %}
{% endblock %}
{% block body %}
  {% include "partial/blog_header.html" %}
  <section class="section default-section">
    <div class="container is-max-desktop">
      {% include "partial/blog_post.html" %}
      {% include "partial/subscribe_bar.html" %}
      {% include "partial/similar_posts.html" %}
    </div>
  </section>
  {% include "partial/footer.html" %}
{% endblock %}
