.blog-post {
  max-width: 100%;
  overflow: scroll;
}

.post-title {
  border-bottom: 1px solid rgba(0, 0, 160, 0.15);
  color: var(--text-color);
  &:hover {
    color: var(--link-hover);
    border-color: var(--link-border-hover);
  }

  &:not(:hover) {
    transition:
      color 0.5s ease,
      border-color 0.5s ease;
  }
}

.similar-posts__list {
  @media (width > 768px) {
    column-count: 2;
    column-gap: 2rem;
  }
}

.subscribe-bar__image {
  float: left;
  margin-right: 1rem;

  @media (width > 768px) {
    width: 128px;
    height: 128px;
  }
}

.similar-posts__link,
.subscribe-bar__link {
  /* default link style */
  border-bottom: 1px solid var(--link-border-color);
  color: var(--link-color);
  --webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:hover {
    color: var(--link-hover);
    border-color: var(--link-border-hover);
  }

  &:not(:hover) {
    transition:
      color 0.5s ease,
      border-color 0.5s ease;
  }
}

.blog-tags {
  margin-top: 0.5rem;
  font-size: 13px;

  &__tag {
    margin-right: 0.7rem;
    border-bottom: 1px solid var(--link-border-color);
    color: #0050a0;
    --webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:hover {
      color: var(--link-hover);
      border-color: var(--link-border-hover);
    }

    &:not(:hover) {
      transition:
        color 0.5s ease,
        border-color 0.5s ease;
    }
  }
}
