.blog-post {
  max-width: 100%;
  overflow: scroll;
}

.post-title {
  border-bottom: 1px solid rgba(0, 0, 160, 0.15);
  color: var(--text-color);
  &:hover {
    color: var(--link-hover);
    border-color: var(--link-border-hover);
  }

  &:not(:hover) {
    transition:
      color 0.5s ease,
      border-color 0.5s ease;
  }
}

.similar-posts {
  &__title {
    margin-bottom: 0.5rem;
  }

  &__list {
    @media (width > 768px) {
      column-count: 2;
      column-gap: 2rem;
    }
  }

  &__item {
    margin-bottom: 0.6rem;
  }

  &__link {
    border-bottom: 1px solid var(--link-border-color);
    color: var(--link-color);
    --webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:hover {
      color: var(--link-hover);
      border-color: var(--link-border-hover);
    }

    &:not(:hover) {
      transition:
        color 0.5s ease,
        border-color 0.5s ease;
    }
  }
}

.subscribe-bar {
  min-height: 140px;
  margin-top: 4rem;

  &__image {
    float: left;
    margin-right: 1rem;

    @media (width > 768px) {
      width: 128px;
      height: 128px;
    }
  }

  &__link {
    /* default link style */
    border-bottom: 1px solid var(--link-border-color);
    color: var(--link-color);
    --webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:hover {
      color: var(--link-hover);
      border-color: var(--link-border-hover);
    }

    &:not(:hover) {
      transition:
        color 0.5s ease,
        border-color 0.5s ease;
    }
  }

  &__tg-icon {
    position: relative;
    top: 2px;
  }
}

.blog-tags {
  margin-top: 0.5rem;
  font-size: 13px;

  &__tag {
    margin-right: 0.7rem;
    border-bottom: 1px solid var(--link-border-color);
    color: #0050a0;
    --webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:hover {
      color: var(--link-hover);
      border-color: var(--link-border-hover);
    }

    &:not(:hover) {
      transition:
        color 0.5s ease,
        border-color 0.5s ease;
    }
  }
}
