.home-page {
  &__link {
    border-bottom: 1px solid var(--link-border-color);
    color: var(--link-color);
    --webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:hover {
      color: var(--link-hover);
      border-color: var(--link-hover);
    }

    &:not(:hover) {
      transition:
        color 0.5s ease,
        border-color 0.5s ease;
    }
  }

  &__lead {
    font-size: 18px;
    line-height: 2;
  }
}
