.app-content ul,
.app-content ol,
.app-list,
.content .app-list /* override bulma .content ul */
{
  list-style-type: none !important;

  padding-left: .5rem;

  @media (width > 768px) {
    padding-left: 1.5rem;
  }

  li {
    line-height: 1.7;
    margin-bottom: .75rem;

    @media (width > 768px) {
      margin-bottom: 0;
    }

    &:before {
      margin-left: -1.2rem;
    }
  }
}

@media (width > 768px) {
  .app-content ul,
  ul.app-list
  {
    li:before {
      content: '\2014\a0';
    }
  }

  .app-content ol,
  ol.app-list
  {
    counter-reset: ol;
    li:before {
      counter-increment: ol;
      content: counter( ol ) ')\a0';
      position: absolute;
    }
  }
}
