:root {
  --text-color: #111;
  --background: #fffff8;
  --link-color: #008ace;
  --link-color-nav: #0050a0;
  --link-border-color: rgba(0, 138, 206, 0.5);
  --link-border-color-nav: rgba(0, 80, 160, 0.5);
  --link-hover: #cc0000;
  --bullet-color: #cdcdcd;
  --bullet-border-color: #555555;

  --bulma-family-primary: "Noto Sans", sans-serif;
  --bulma-text: var(--text-color);
  --bulma-background: var(--background);
  --bulma-body-background-color: var(--background);
  --bulma-body-line-height: 1.9;
  --bulma-link-text: var(--link-color);
  --bulma-link-text-hover: var(--link-hover);
  --bulma-hr-margin: 1.5rem 0 3rem 0;
  --bulma-weight-extrabold: 400;
}

.title,
.subtitle {
  --bulma-title-weight: 400;
  --bulma-title-line-height: 1.7;
}

.footer {
  --bulma-footer-background-color: var(--background);
}

.navbar {
  --bulma-navbar-background-color: var(--background);
}

.table {
  --bulma-table-background-color: var(--background);
}

.nav__link {
  border-bottom: 0;
  margin-right: 4px;
  line-height: 2.5;

  &:not(:first-child):before {
    content: "·\a0\a0";
    margin-left: 3px;
  }
}

.nav__link--active {
  pointer-events: none;
  .nav__label {
    color: var(--text-color);
    opacity: 0.8;
    border-bottom: 0;
  }
}

.nav__label,
.pagination__link,
.blog-tag__link,
.footer__email {
  border-bottom: 1px solid var(--link-border-color-nav);
  color: var(--link-color-nav);
  white-space: nowrap;
  line-height: 2rem;

  &:hover {
    color: var(--link-hover);
    border-color: var(--link-hover);
  }
  &:not(:hover) {
    transition: color 0.5s ease;
  }
}

.similar-posts__link,
.home-page__link,
.subscribe-bar__link {
  /* default link style */
  border-bottom: 1px solid var(--link-border-color);
  color: var(--link-color);
  --webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:hover {
    color: var(--link-hover);
    border-color: var(--link-hover);
  }

  &:not(:hover) {
    transition:
      color 0.5s ease,
      border-color 0.5s ease;
  }
}

.home-page__lead {
  font-size: 18px;
  line-height: 2;
}

.home-page__title {
  position: relative;
  left: -0.3rem;
}

.vcru-link {
  position: relative;
  top: 0.5rem;
}

.blog-post {
  max-width: 100%;
  overflow: scroll;

  &:not(:first-child) {
    margin-top: 4rem;
  }
}

.post-title {
  border-bottom: 1px solid rgba(0, 0, 160, 0.15);
  color: var(--text-color);
  &:hover {
    color: var(--link-hover);
    border-color: var(--link-hover);
  }

  &:not(:hover) {
    transition:
      color 0.5s ease,
      border-color 0.5s ease;
  }
}

.tg-link {
  white-space: nowrap;

  @media (width > 768px) {
    &:hover,
    &:hover &__icon {
      color: var(--link-hover);
    }
  }

  &:not(:hover) &__icon {
    transition: color 0.5s ease;
  }
}
.tg-link__label {
  white-space: nowrap;
}

.tg-icon,
.tds-icon {
  position: relative;
  top: 2px;
}

.pagination__arrow {
  display: inline;
  position: absolute;
  left: -1rem;
}

.similar-posts__list {
  @media (width > 768px) {
    column-count: 2;
    column-gap: 2rem;
  }
}

.subscribe-bar__image {
  float: left;
  margin-right: 1rem;

  width: 96px;
  height: 96px;

  @media (width > 768px) {
    width: 128px;
    height: 128px;
  }
}

.footer__poop {
  display: inline-block;
  cursor: pointer;
  position: relative;
  left: -0.2rem;
  p {
    position: relative;
    top: -0.2rem;
  }
}

.footer__poop--spinning {
  animation: spin 1s 1 ease-out;
}

.footer__email {
  position: relative;
  top: -0.1rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* post content */
.content {
  a {
    /* default link style */
    border-bottom: 1px solid var(--link-border-color);
    color: var(--link-color);
    --webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:hover {
      color: var(--link-hover);
      border-color: var(--link-hover);
    }

    &:not(:hover) {
      transition:
        color 0.5s ease,
        border-color 0.5s ease;
    }
  }

  p:not(:first-child),
  .table,
  blockquote,
  figure {
    margin-top: 0.8rem;
  }

  p img,
  figure {
    margin-bottom: 1rem;
  }

  h3,
  h4 {
    margin-top: 1.5rem;
    margin-bottom: 0;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 400;
  }

  h4 {
    font-size: 1.25rem;
    font-weight: 600;
  }

  figure {
    margin-left: 0;
    margin-right: 0.5rem;
    margin-bottom: 2rem;
    text-align: center;

    figcaption {
      opacity: 0.8;
      font-size: 0.6em;
      @media (width > 768px) {
        font-size: 1em;
      }
    }
    &.kg-embed-card {
      position: relative;
      padding-top: 25px;
      padding-bottom: 56.25%;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  blockquote {
    margin-left: 1rem;
    border-left: solid 1px grey;
    padding-left: 0.5rem;
    padding-top: 0.2rem;
  }

  .kg-gallery-container {
    position: relative;
  }

  .kg-gallery-image {
    display: flex;

    img {
      display: none;
      margin: auto;
      cursor: pointer;

      &.active {
        display: block;
      }
    }
  }

  .bullets {
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0;

    @media (width > 768px) {
      bottom: 1.2rem;
    }

    .bullets-item {
      width: 8px;
      height: 8px;
      margin: 0 4px;
      border: 1px solid var(--bullet-border-color);
      border-radius: 50%;
      background-color: var(--bullet-color);
      cursor: pointer;
      transition: background-color 0.5s ease;

      @media (width > 768px) {
        width: 14px;
        height: 14px;
        margin: 0 6px;
      }

      &::before {
        content: "";
        margin: 0;
      }

      &.active {
        background-color: var(--link-color);
        cursor: default;
      }
    }
  }
}

/* Lists */

.content ul,
.content ol,
.content .app-list /* override bulma .content ul */ {
  list-style-type: none !important;

  padding-left: 0.5rem;

  @media (width > 768px) {
    padding-left: 1.5rem;
  }

  li {
    line-height: 1.7;
    margin-bottom: 0.75rem;

    @media (width > 768px) {
      margin-bottom: 0;
    }

    &:before {
      margin-left: -1.2rem;
    }
  }
}

.content ul,
.ul.app-list {
  @media (width > 768px) {
    li:before {
      content: "\2014\a0";
    }
  }
}
.content ol,
ol.app-list {
  @media (width > 768px) {
    counter-reset: ol;
    li:before {
      counter-increment: ol;
      content: counter(ol) ")\a0";
      position: absolute;
    }
  }
}

.home-page__list {
  list-style-type: none !important;
  li {
    margin-bottom: 1rem;
  }
  @media (width > 768px) {
    li:before {
      content: "\2014\a0";
      position: absolute;
      left: -0.6rem;
    }
    li {
      margin-bottom: 0.3rem;
    }
  }
}

/* LEGACY */

@media screen and (min-width: 641px) {
  .post__criticism__yelling-men {
    position: relative;
    left: 40px;
  }
}

.post__dev-automation__screenshot {
  margin-bottom: 0 !important;
}

.content-developer-plateau code {
  opacity: 0.8;
}

.post__in-two-days__no-work {
  margin-bottom: 20px;
}
@media screen and (min-width: 641px) {
  .post__in-two-days__no-work {
    margin-left: 250px !important;
  }
}

.post__fuck-touch-bar__touchbarshot {
  margin-left: 0 !important;
  margin-right: 0 !important;
  max-width: 100% !important;
}
@media screen and (min-width: 641px) {
  .post__fuck-touch-bar__touchbarshot {
    max-width: 800px;
  }
}
.post__fuck-touch-bar__screenshot,
.post__fuck-touch-bar__btt {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
.post__fuck-touch-bar__tray {
  border-radius: 3px;
  margin-left: 0 !important;
}

.post__iv__screenshot,
.post__iv__likely {
  margin: 0 !important;
  max-width: 100% !important;
}
@media screen and (min-width: 641px) {
  .post__iv__screenshot,
  .post__iv__likely {
    max-width: 800px;
  }
}
.post__iv__example {
  margin: 0 !important;
}
.post__iv__example figcaption {
  position: relative;
  top: -15px;
}
@media screen and (min-width: 641px) {
  .post__iv__example figcaption {
    position: relative;
    top: -40px;
  }
}
@media screen and (min-width: 641px) {
  .post__iv__after-figure {
    margin-top: -10px !important;
  }
}
.content.content-instant-view code {
  white-space: inherit;
}

.post__kpp__i-was-doing {
  border-radius: 2px;
}
@media screen and (min-width: 641px) {
  .post__kpp__i-was-doing {
    margin-left: 150px !important;
  }
}

.post__no-links__no-mail {
  text-align: center;
}
.post__no-links__no-mail-img {
  margin-left: 0 !important;
}

@media screen and (min-width: 641px) {
  .post__time-and-money__wild {
    margin-left: 150px !important;
  }
}
@media screen and (max-width: 640px) {
  .post__time-and-money__wild {
    margin-left: 15px !important;
  }
  .post__time-and-money__wild img {
    max-width: 95% !important;
  }
}

.post__small-changes__review img,
.post__small-changes__twitter img {
  border: 1px solid #ccc;
  border-radius: 3px;
}
@media screen and (min-width: 641px) {
  .post__small-changes__word figcaption {
    position: relative;
    left: -5px;
  }
  .post__small-changes__review {
    min-height: 405px;
    height: 405px;
  }
  .post__small-changes__review img {
    width: 600px;
    height: 400px;
  }
  .post__small-changes__twitter img {
    width: 600px;
    height: 200px;
  }
}
@media screen and (max-width: 640px) {
  .post__small-changes__review,
  .post__small-changes__word,
  .post__small-changes__twitter {
    position: relative;
    left: -5px;
  }
  .post__small-changes__review img,
  .post__small-changes__word img,
  .post__small-changes__twitter img {
    max-width: 100%;
  }
}

@media screen and (min-width: 641px) {
  .post__book-selection__thrownaway-caption,
  .post__book-selection__graph-caption {
    position: relative;
    left: 250px;
    text-align: left !important;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 640px) {
  .post__book-selection__thrownaway,
  .post__book-selection__graph {
    margin-left: 5px !important;
  }
  .post__book-selection__thrownaway-img,
  .post__book-selection__graph-img {
    max-width: 95% !important;
  }
}

.post__clr__table__td-first {
  white-space: nowrap;
}
.post__clr__checklist {
  max-width: 90vw;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

figure.post__blackberry__img {
  margin-left: 0;
  text-align: center;
}
@media screen and (max-width: 640px) {
  figure.post__blackberry__img {
    margin-top: 20px;
  }
}
@media screen and (min-width: 641px) {
  .post__blackberry__cover {
    margin-left: 130px;
    margin-bottom: 30px;
    max-width: 277px;
    max-height: 422px;
    box-shadow:
      inset 0 1px 0 rgba(255, 255, 255, 0.6),
      0 22px 40px 4px rgba(0, 0, 0, 0.24),
      0 0 0 1px rgba(0, 0, 0, 0.3);
  }
}
@media screen and (max-width: 640px) {
  .post__blackberry__cover {
    display: none;
  }
}
@media screen and (min-width: 641px) {
  .post__blackberry__850 {
    position: relative;
    left: 75px;
  }
}
@media screen and (min-width: 641px) {
  .post__blackberry__quark {
    position: relative;
    left: 120px;
  }
}
@media screen and (min-width: 641px) {
  .post__blackberry__electron {
    position: relative;
    left: 100px;
  }
}
@media screen and (min-width: 641px) {
  .post__blackberry__storm {
    position: relative;
    left: 125px;
  }
}
.post__blackberry__iphone-op:after {
  content: "AT&T";
}

.disable-dock-bounce-dock {
  margin-bottom: 0px !important;
  margin-left: 50px;
}

#post__gantt-sucks__chart,
.post__gantt-sucks__chart {
  position: relative;
  left: -10px;
}

.post__phase-of-moon__unlucky-caption {
  margin-top: 10px !important;
}

.post__naked-stats__wikipedia img {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 15px !important;
}
.post__naked-stats__wikipedia img,
.post__naked-stats__cover img {
  margin-left: 50px;
}
@media screen and (max-width: 640px) {
  .post__naked-stats__cover img {
    display: none;
  }
  .post__naked-stats__wikipedia img {
    margin: 0 !important;
    max-width: 100% !important;
  }
}

@media screen and (min-width: 641px) {
  .post__slack-productivity__email-vs-slack {
    margin-bottom: 5px;
  }
  .post__slack-productivity__bystanders {
    position: relative;
    left: 100px;
  }
}
@media screen and (max-width: 640px) {
  .post__slack-productivity__email-vs-slack,
  .post__slack-productivity__bystanders {
    margin: 0 !important;
    max-width: 98% !important;
  }
}

#why-pomodoro-app-shot {
  background-image: url("/i/old/why-pomodoro/appshot.png");
  width: 260px;
  height: 95px;
  -webkit-box-shadow:
    inset 0 0 0 rgba(255, 255, 255, 0.6),
    0 12px 42px 0 rgba(0, 0, 0, 0.2),
    0 0 0 1px rgba(0, 0, 0, 0.3);
  box-shadow:
    inset 0 0 0 rgba(255, 255, 255, 0.6),
    0 12px 42px 0 rgba(0, 0, 0, 0.2),
    0 0 0 1px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  position: fixed;
  top: 30px;
  left: 900px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5),
  (min--moz-device-pixel-ratio: 1.5),
  (-o-min-device-pixel-ratio: 1.5/1),
  (min-device-pixel-ratio: 1.5),
  (min-resolution: 138dpi),
  (min-resolution: 1.5dppx) {
  #why-pomodoro-app-shot {
    background-image: url("/i/old/why-pomodoro/appshot@2x.png");
    -webkit-background-size: 260px 95px;
    -moz-background-size: 260px 95px;
    background-size: 260px 95px;
  }
}
@media screen and (max-width: 1190px) {
  #why-pomodoro-app-shot {
    display: none;
  }
}

.content {
  img.cover,
  img[src*="cover@2x.jpg"],
  img[src*="cover@2x.png"],
  img[src*="cover.jpg"],
  img[src*="cover.png"],
  .cover p > img {
    max-width: 277px;
    margin: 20px 50px 30px !important;

    @media screen and (max-width: 1190px) {
      max-width: inherit;
      margin: 0 !important;
    }

    box-shadow:
      inset 0 1px 0 rgba(255, 255, 255, 0.6),
      0 22px 40px 4px rgba(0, 0, 0, 0.24),
      0 0 0 1px rgba(0, 0, 0, 0.3);
  }
}

.content .great {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 150px;
}

.content .great p {
  font-size: 22px;
  line-height: 35px;
  max-width: 500px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);

  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 1190px) {
  .content .great {
    padding-left: 0;
    padding-right: 10px;
  }
  .content .great p {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.screenshot,
.screenshot img {
  box-shadow:
    inset 0 0 0 rgba(255, 255, 255, 0.6),
    0 22px 40px 4px rgba(0, 0, 0, 0.24),
    0 0 0 1px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
