@use "bulma";
@use "blog";
@use "content";
@use "lists";
@use "legacy";

.nav {
  &__link {
    border-bottom: 0;
    margin-right: 4px;
    line-height: 2.5;

    &:not(:first-child):before {
      content: "·\a0\a0";
      margin-left: 3px;
    }

    &--active {
      .nav__label {
        color: var(--text-color);
        opacity: 0.8;
        border-bottom: 0;
      }
    }
    &--active {
      pointer-events: none;
    }
  }

  &__label {
    border-bottom: 1px solid var(--link-border-color-nav);
    color: var(--link-color-nav);
    white-space: nowrap;
    line-height: 2rem;

    &:hover {
      color: var(--link-hover);
      border-color: var(--link-hover);
    }
    &:not(:hover) {
      transition: color 0.5s ease;
    }
  }
}

.footer {
  &__poop {
    display: inline-block;
    cursor: pointer;
    position: relative;
    left: -0.2rem;
    &--spinning {
      animation: spin 1s 1 ease-out;
    }
    p {
      position: relative;
      top: -0.2rem;
    }
  }

  &__email {
    color: var(--link-color-nav);
    border-bottom: 1px solid var(--link-border-color-nav);

    &:hover {
      color: var(--link-hover);
      border-color: var(--link-hover);
    }

    &:not(:hover) {
      transition:
        color 0.5s ease,
        border-color 0.5s ease;
    }

    position: relative;
    top: -0.1rem;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tg-link {
  white-space: nowrap;

  @media (width > 768px) {
    &:hover,
    &:hover &__icon {
      color: var(--link-hover);
    }
  }

  &:not(:hover) &__icon {
    transition: color 0.5s ease;
  }

  &__label {
    white-space: nowrap;
  }
}

.tg-icon,
.tds-icon {
  position: relative;
  top: 2px;
}
