.post__iv
    &__screenshot,
    &__likely
        margin: 0 !important;
        max-width: 100% !important;

        @media $desktop
            max-width: 800px;

    &__example
        margin: 0 !important;
        figcaption
            relative: top -15px;
            @media $desktop
                relative: top -40px;

    &__after-figure
        @media $desktop
            margin-top: -10px !important;

.content.content-instant-view
    code
        white-space: inherit