.post__naked-stats__wikipedia img
    border: 1px solid rgba( 0, 0, 0, .1)
    border-radius: 2px
    margin-bottom: 15px !important

.post__naked-stats__wikipedia img,
.post__naked-stats__cover img
    margin-left: 50px

@media $mobile
    .post__naked-stats__cover img
        display: none

    .post__naked-stats__wikipedia img
        margin: 0 !important
        max-width: 100% !important
