.book-table {
  border-collapse: collapse;
  margin-top: 10px;

  th {
    border-bottom: solid 1px #222;
    margin-bottom: 5px;
  }
  tbody {
    padding-top: 8px;
  }
  &__row {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 15px;
    text-align: left;
    vertical-align: top;
  }
  &__row td,
  &__row th {
    padding-top: 10px;
    padding-bottom: 12px;

  }

  &__row:hover td {
    background-color: #f1f1f1;
  }

  &__cnt {
    position: relative;
    text-align: right;
    white-space: nowrap;
    &--with-counter {
      &:after {
        content: ')';
        position: relative;
        left: 2px;
      }
    }
  }

  &__author {
    min-width: 160px;
    padding-left: 10px;
  }
  &__title {
    min-width: 262px;
  }

  &__title,
  &__sense {
    padding-left: 5px;
  }

  .coolMark {
    position: relative;
    left: -5px;
  }
}
