$body-background-color: #fffff8;
$table-background-color: #fffff8;
$navbar-background-color: #fffff8;
$content-blockquote-background-color: #fffff8;
$body-color: #111;
$link: #008ace;
$title-weight: 400;
$content-heading-weight: 400;
$family-sans-serif: 'Noto Sans', sans-serif;
$body-line-height: 1.9;
$hr-margin: 1.5rem 0 3rem 0;

.is-borderless {
  border: 0 !important;
}

@import '~bulma';

.app-container {
  max-width: 1000px;
}
