$body-background-color: #fffff8;
$table-background-color: #fffff8;
$body-color: #111;
$title-weight: 400;
$family-sans-serif: 'Noto Sans', sans-serif;

.is-borderless {
  border: 0 !important;
}

@import '~bulma';
