.app-content {
  ul, ol {
    list-style-type: none;
    padding-left: 1.5rem;

    li:before {
      margin-left: -1.2rem;
    }
    li {
      line-height: 1.7;
    }
  }

  ul li:before {
    content: '\2014\a0';
  }

  ol {
    counter-reset: ol;
    li:before {
      counter-increment: ol;
      content: counter( ol ) ')\a0';
      position: absolute;
    }
  }
}
