.post__fuck-touch-bar

    &__touchbarshot
        margin-left: 0 !important;
        margin-right: 0 !important;
        max-width: 100% !important;

        @media $desktop
            max-width: 800px;

    &__screenshot,
    &__btt
        margin-bottom: 0 !important;
        margin-top: 0 !important

    &__tray
        border-radius: 3px
        margin-left: 0 !important;