<header class="section is-hidden-mobile pb-0">
  <div class="container is-max-desktop">
    <p class="title is-3">Фёдор Борщёв</p>
  </div>
</header>
<nav class="section nav is-hidden-mobile py-0">
  <div class="container is-max-desktop">
    <a href="/" class="nav__link">
      <span class="nav__label">Обо мне</span>
    </a>
    <a href="/blog/" class="nav__link {% if route == "blog" %}nav__link--active{% endif %}">
      <span class="nav__label">Блог</span>
    </a>
    <a href="/featured/" class="nav__link {% if route == "featured" %}nav__link--active{% endif %}">
      <span class="nav__label">Избранное</span>
    </a>
    <a target="_blank" href="https://tough-dev.school/" class="nav__link">
      <span class="nav__label">Школа</span></a
    >
    <a target="_blank" href="http://fedorandsamat.com/" class="nav__link">
      <span class="nav__label">Нанять меня</span></a
    >
    <a href="tg://resolve?domain=pmdaily" class="tg-link nav__link">
      <img src="/i/icons/telegram.svg" height="15" width="15" class="tg-link__icon" />
      <span class="tg-link__label nav__label">Подписаться на телеграм</span>
    </a>
  </div>
</nav>
