<div class="subscribe-bar app-slug__subscribe-bar">
  <div class="subscribe-bar__image image is-96x96">
    <img
      class="image is-96x96 is-rounded"
      src="/i/me-small.webp"
      alt="Фёдор Борщёв"
    />
  </div>
  <p>
    Меня зовут Федя Борщёв. Пишу для программистов в&nbsp;<img
      class="subscribe-bar__tg-icon is-hidden-mobile"
      src="/i/icons/telegram.svg"
      width="15"
      height="15"
    />&nbsp;<a class="subscribe-bar__link" href="tg://resolve?domain=pmdaily"
      >телеграме</a
    > — 2 поста в&nbsp;неделю об&nbsp;управлении сложными проектами, хорошем
    коде и&nbsp;профессиональном развитии. А&nbsp;ещё я&nbsp;руковожу
    <img
      src="/i/icons/tough-dev-school.webp"
      width="15"
      height="15"
      class="is-hidden-mobile"
    />&nbsp;<a
      class="subscribe-bar__link"
      target="_blank"
      href="https://tough-dev.school/"
      >Школой Сильных Программистов</a
    >, где мы делаем синьёров, архитекторов и&nbsp;тимлидов. Приходите учиться!
  </p>
</div>
