<div class="subscribe-bar app-slug__subscribe-bar">
  <div class="subscribe-bar__image image is-96x96">
    <img src="/i/me-small.jpg" alt="Фёдор Борщёв" />
  </div>
  <div class="subscribe-bar__text">
    <p>
    Меня зовут Федя Борщёв. Пишу для программистов в&nbsp;<a href="tg://resolve?domain=pmdaily"><img class="tg-link" src="/i/icons/telegram.svg" width="15" height="15">&nbsp;телеграме</a> — 2 поста в&nbsp;неделю об&nbsp;управлении сложными проектами, хорошем
      коде и&nbsp;профессиональном развитии. А&nbsp;ещё
      я&nbsp;руковожу <a target="_blank" href="https://tough-dev.school/"><img src="/i/icons/tough-dev-school.webp" width="15" height="15">Школой Сильных Программистов</a>
      <br class="is-hidden-desktop" />
      где мы делаем синьёров, архитекторов и&nbsp;тимлидов. Приходите учиться!
    </p>
  </div>
</div>
